<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Texto para Voz</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2 class="titulo-projeto">Projeto Ana Beatriz</h2>
        <h1>Texto para Voz</h1>
        <form method="POST">
            <input type="text" name="texto" placeholder="Digite algo..." required autocomplete="off">
            <button type="submit">Falar</button>
        </form>

        {% if tocando %}
            <audio controls autoplay>
                <source src="{{ url_for('static', filename=audio_file) }}" type="audio/mpeg">
                Seu navegador não suporta áudio.
            </audio>
        {% endif %}
    </div>
</body>
</html> 